body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262a2d;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-primary {
  background-color: #ffd41e;
  color: black;
  border: 0;
}

.nav-link.login {
  color: #fff !important;
  font-weight: 600;
}

.nav-link.login:hover {
  color: #ffd41e !important;
}

.footer {
  background-color: #1b1f23;
}

.textCard{
  text-decoration: none;
  color: white;
}

.changeOpacity:hover{
  opacity: 0.5;
  color: white; 
}

