body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "DM Sans", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262a2d;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-primary {
  background-color: #ffd41e;
  color: black;
  border: 0;
}

.nav-link.login {
  color: #fff !important;
  font-weight: 600;
}

.nav-link.login:hover {
  color: #ffd41e !important;
}

.footer {
  background-color: #1b1f23;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.changeOpacity:hover {
  opacity: 0.5;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.yellow-color {
  color: #f3ce13;
}

.navbar-color {
  border-color: #1b1f23 !important;
}

.dark-card {
  background-color: #1b1f23;
  /* border: 0; */
}

.icon-yellow {
  color: #ffd41e;
}

.gradient {
  background: linear-gradient(to right, #0d0d0c 70%, transparent 120%);
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: right center; */
}
